@page
@model DiarIA.Areas.Identity.Pages.Account.ResetPasswordModel
@{
    ViewData["Title"] = "Restablecer contraseña";
}

<div class="auth-wrapper">
    <h2 class="auth-header">Nueva Contraseña</h2>
    <div class="auth-separator"></div>

    <p class="text-center text-muted mb-4 small">
        Ingresa tu nueva contraseña para recuperar el acceso a tu cuenta.
    </p>

    <form method="post">
        <div asp-validation-summary="ModelOnly" class="alert-danger-soft" role="alert"></div>

        <input asp-for="Input.Code" type="hidden" />

        <div class="form-floating mb-3">
            <input asp-for="Input.Email" class="form-control form-control-auth inputs-limpiar"
                   autocomplete="username" aria-required="true" placeholder="nombre@ejemplo.com" />
            <label asp-for="Input.Email" class="text-muted">Correo Electrónico</label>
            <span asp-validation-for="Input.Email" class="text-danger-bold"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="Input.Password" class="form-control form-control-auth inputs-limpiar"
                   autocomplete="new-password" aria-required="true" placeholder="Nueva contraseña" />
            <label asp-for="Input.Password" class="text-muted">Nueva Contraseña</label>
            <span asp-validation-for="Input.Password" class="text-danger-bold"></span>
        </div>

        <div class="form-floating mb-4">
            <input asp-for="Input.ConfirmPassword" class="form-control form-control-auth inputs-limpiar"
                   autocomplete="new-password" aria-required="true" placeholder="Confirmar contraseña" />
            <label asp-for="Input.ConfirmPassword" class="text-muted">Confirmar Contraseña</label>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger-bold"></span>
        </div>

        <button type="submit" class="btn btn-auth-big">Restablecer</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            // Limpieza de errores visuales al escribir
            $(".inputs-limpiar").on("input", function() {
                $(this).siblings(".text-danger-bold").text("");
                $(this).removeClass("input-validation-error");
            });
        });
    </script>
}