@using Microsoft.AspNetCore.Identity
@using DiarIA.Models
@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DiarIA</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body class="d-flex flex-column min-vh-100 bg-light">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm mb-3 px-md-4">
            <div class="container-fluid">
                @if (SignInManager.IsSignedIn(User))
                {
                    <a class="navbar-brand fw-bold text-primary d-flex align-items-center" asp-controller="Home" asp-action="Index">
                        DiarIA
                        <img src="~/img/logo_sin_fondo.png" alt="Logo" class="logo-navbar" />
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ps-3">
                            <li class="nav-item"><a class="nav-link text-dark fw-bold" asp-controller="Home" asp-action="Index">Inicio</a></li>
                            <li class="nav-item ps-3"><a class="nav-link text-dark fw-bold" asp-controller="Tareas" asp-action="Index">Mis Tareas</a></li>
                        </ul>
                        <partial name="_LoginPartial" />
                    </div>
                }
                else
                {
                    <div class="d-flex align-items-center">
                        <span class="navbar-brand fw-bold text-primary mb-0 h1">DiarIA</span>
                        <img src="~/img/logo_sin_fondo.png" alt="Logo" class="logo-navbar" />
                        <span class="fw-bold text-dark ms-4 fs-5 d-none d-md-block">¡Bienvenido!</span>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse justify-content-end">
                        <partial name="_LoginPartial" />
                    </div>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>